services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: diabetes_fastapi
    ports:
      - "8000:8000"

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: diabetes_streamlit
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://fastapi:8000
    depends_on:
      - fastapi
